html {
    background: linear-gradient(90deg, rgb(129, 110, 112) 0%, rgb(88, 88, 185) 35%, rgb(97, 163, 176) 100%);;
}

h1 {
    text-align: center;
    font-size: 300%;
}

h2 {
    text-align: center;
    font-size: 200%;
    color: #230631;
}

div {
    border: solid #230631 0.5rem;
}

p, ul, ol {
    text-align: center;
}